.random-planet {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0 ;
    padding: 20px;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid #444;
}

.planet-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.planet-info {
    margin-left: 20px;
}

.list-group-item .term{
    margin-right: .5rem;
}

.toggle-hide {
    display: none;
}


