.app {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.item-listed {
    margin: 350px;
}

.app .route h1{
    margin: 20px;
}

.app-route {
    margin: 40px;
}

.starships-details {
    margin: 10px;
}