.person-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    border: 1px solid #444;
    margin-left: 5px;
}


.person-image {
    border-radius: 10px;
    width: 152px;
    height: 250px;
}

.person-details .list-group-item {
    padding: .25rem;
}

.person-details .list-group-item .term{
    margin-right: .5rem;
}

.card-body .list-group-item {
    line-height: 40px;
}