.header {
    display:  flex;
    align-items: center;
    margin-bottom: 50px;
    margin:0 20px;
}

.logo {
    margin-right: 50px;
}

.top-panel {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: green;
}

.panel-item {
    padding-left: 20px;
}